* {
    font-family: "Outfit", serif;
}

body {
    background-color:ghostwhite;
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-left {
    opacity: 0;
    animation: fadeInFromLeft 1s ease-out forwards;
}

.fade-top {
    opacity: 0;
    animation: fadeInFromTop 1s ease-out forwards;
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-grey {
    color:dimgrey;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
    padding: 8px 12px;
    border-radius: 7.5px;
    font-size: 16px;
    transition: background 0.3s ease;
    cursor: pointer;
    width: fit-content;
    margin-top: 10px;
    box-shadow: 5px 5px 5px silver;
    border: 1px solid grey
}

.btn:hover {
    transform: scale(1.05)
}

.btn-danger {
    background-color:red;
}

.btn-danger:hover {
    background-color:darkred;
}

.btn-success {
    background-color:green;
}

.btn-success:hover{
    background-color:darkgreen;
}

.btn-primary {
    background-color: cornflowerblue;
}

.btn-primary:hover {
    background-color: royalblue;
}

.link {
    color: cornflowerblue;
    font-size: 15px;
    margin-top: 10px;
}

.link:hover {
    color: royalblue;
}

.btn:disabled {
    opacity: 0.6;
    color: #666;
    cursor: not-allowed;
    transform: none;
}